.header{
    background-color: #39ff14;
    padding: 29.5px;
}

.content{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand {
    font-size: 30px;
}

.navbar-brand img {
    margin-bottom: 8px;
}
